page-tutorialmain {
    
    .imagus{
        margin: auto;
        border: 1px solid;
        display: block;
        border-color: color($colors, primary);
    }
       
    .bgcolor{
        background-color: #bfdefc;
    }
    .whity{
        background-color: #ffffff;
    }
    .divmar{
          margin: 10px 10px 10px 10px;
    }
    h1{
        color: color($colors, primary);
        font-size: 1.5em;
    }

    p{
        display: block;
        margin: 0 auto;
        font-size: 15px;
    }
    .swiper-pagination-bullet-active{
        background: color($colors, primary);

    }

    .swiper-pagination{
        bottom: 3% !important;
    }
}

