page-tutorials{
.bgcolor{
    background-color:color($colors, lightblo) !important;
}

.centerdiv{
    display: table;
    margin: 0 auto;
}

.diag{
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    height: 66%;
}

.iic{
    margin-top: 30%;
    font-size: 9em;
}

h2{
    margin-top: 80% !important;
    font-weight: bold;
    font-size: 1.5em;
}

p{
    width: 80%;
    display: block;
    margin: 0 auto;
    font-size: 0.9em;
}

.swiper-pagination-bullet-active{
    background: color($colors, primary);

}

.swiper-pagination{
    bottom: 13% !important;
}
#skip{
    position: absolute;
    bottom: 30px;
    width: 100%;
    background: color($colors, primary);
    text-align: center;
    cursor: pointer;
    z-index: 5;
}
}